html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
  text-align: center;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 3rem !important;
  padding-bottom: 1rem !important;
}

.middle {
  border-radius: 0;
  margin-bottom: -1px;
  padding-top: 3rem !important;
  padding-bottom: 1rem !important;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 3rem !important;
  padding-bottom: 1rem !important;
}
